:root {
    --mainDark: #252525;
    --mainGrey: #c7c7c7;
    --mainLight: #fafafa;
    --color1: rgba(230, 181, 22, 0.814);
    --color2: rgba(23, 115, 235);
    --color1-transparent: rgba(230, 181, 22, 0.4);
    --color2-transparent: rgba(23, 115, 235, 0.4);
    --font1: "BalooChettan2";
    --font2: "Oswald";
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Doergon';
    src: url('./fonts/Doergon.ttf') format('truetype');
}  

@font-face {
    font-family: 'BalooChettan2';
    src: url('./fonts/BalooChettan2-VariableFont_wght.ttf') format('truetype');
}  

@font-face {
    font-family: 'Oswald';
    src: url('./fonts/Oswald-VariableFont_wght.ttf') format('truetype');
}

#fetch {
    display: none;
}

.Editor {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    box-sizing: border-box;
    font-family: var(--font2);
    scroll-behavior: smooth;
    // dialog {
    //     display: none;
    //     z-index: 2;
    // }
    ::-webkit-scrollbar {
        width: 0.6vw;
    }
    ::-webkit-scrollbar-track {
        background: var(--mainDark);
        border-radius: 12px;

    }
    ::-webkit-scrollbar-thumb {
        background: var(--mainLight);
        border-radius: 12px;
    }

    .disabled {
        pointer-events: none;
        opacity: 0.65;
    }

    > main {
        // >*, >*>* {
        //     // border: 1px solid #25252510;
        // }
        box-sizing: border-box;
        position: relative;
        width: 70vw;
        // min-height: 40vh;
        max-height: 90vh;
        margin: 1vw;
        overflow-y: scroll;
        overflow-x: hidden;
        // border: 2px solid #252525;
        border-radius: 20px;
        box-shadow: 0 0 20px #12121230;
        > nav {
            display: flex;
            flex-direction: row;
            justify-content: right;
            align-items: center;
            padding: 20px 1vw;
            position: fixed;
            background-color: #fefefe50;
            backdrop-filter: blur(5px) saturate(2) brightness(1.1);
            z-index: 5;
            width: 70vw;
            box-sizing: border-box;
            gap: 1vw;
            border-radius: 20px 20px 0 0;
            button {
                font-size: 2rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background: none;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                padding: 4px;
                transition: all 400ms ease-in-out;
            }
            button:hover {
                background: var(--mainGrey);
            }
            #closeFS, #desktopMode {
                display: none;
            }
            #openFS, #mobileMode {
                display: flex;
            }
        }
        #saveBtn {
            padding: 1vw;
            position: fixed;
            top: 4vh;
            right: 4vh;
            border: 2px solid var(--mainLight);
            color: var(--mainLight);
            font-family: var(--font2);
            border-radius: 10px;
            background: #ffffff40;
            cursor: pointer;
        }
        caret-color: var(--mainLight);
        .editorPane {
            width: 100%;
            margin: calc(48px + 1.8vw) 0 0 0;
            max-width: 100%;
            
            .cleanLink {
                text-decoration: none;
                text-transform: none;
                color: var(--mainLight);
            }
            .editSection {
                width: 70vw;
                height: 180px;
                transition: all 300ms ease-in-out;
                position: absolute;
                top: calc(-48px - 1.6vw);
            }
            .editSection:hover {
                background-color: #25252560;
            }
            main {
                min-height: 100vh;
            }
        }
        //Place for the custom LESS
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // background: linear-gradient(45deg, var(--color2-transparent), var(--color1-transparent));
        // main {
        //     box-sizing: border-box;
        //     padding: 180px 0 50px 0;
        //     margin: 0;
        //     z-index: 1;
        //     width: 100%;
        //     font-family: var(--font1);
        //     h1 {
        //         margin: 0;
        //         padding: 20px;
        //     }
        //     header {
        //         color: var(--mainLight);
        //         display: flex;
        //         flex-direction: row;
        //         justify-content: center;
        //         align-items: center;
        //         gap: 6vw;
        //         form {
        //             display: flex;
        //             flex-direction: column;
        //             justify-content: center;
        //             align-items: center;
        //             gap: 2vh;
        //             a {
        //                 color: #fafafa;
        //             }
        //             h1 {
        //                 line-height: 1;
        //                 font-family: var(--font2);
        //                 font-size: 3rem;
        //             }
        //             h2 {
        //                 font-style: normal;
        //                 font-size: 1.2rem;
        //             }
        //             .form_input {
        //                 width: 30vw;
        //                 display: flex;
        //                 flex-direction: row;
        //                 justify-content: center;
        //                 align-self: center;
        //                 box-shadow: 10px 10px 50px rgba(23, 115, 235, 0.39);
        //                 padding: 0;
        //                 border-radius: 12px;
        //                 input[type="email"] {
        //                     width: 70%;
        //                     padding: 15px;
        //                     border: 1px solid rgb(23, 115, 235);
        //                     border-radius: 12px 0 0 12px;
        //                     &::placeholder {
        //                      font-style: italic; 
        //                      font-family: var(--font1);
        //                     }
        //                   }
        //                 input[type="submit"] {
        //                     width: 30%;
        //                     background-color: rgb(23, 115, 235);
        //                     // background-color: var(--color1);
        //                     color: var(--mainLight);
        //                     border: none;
        //                     border-radius: 0;
        //                     padding:15px;
        //                     border-radius: 0 12px 12px 0;
        //                     font-family: var(--font1);
        //                 }
        //             }
        //         }
        //         img {
        //             width: 40%;
        //             border-radius: 25px;
        //             box-shadow: 10px 10px 50px #ffffff80;
        //             mix-blend-mode: screen;
        //         }
        //     }
        // }
        // footer {
        //     display: flex;
        //     flex-direction: row;
        //     justify-content: space-between;
        //     align-items: center;
        //     padding: 0 10vw;
        //     margin: 75px 0 25px 0;
        //     border-radius: 25px;
        //     min-height: 100px;
        //     width: 90%;
        //     box-shadow: 0 0 20px #ffffff50;
        //     background-color: #fafafa50;
        //     backdrop-filter: blur(10px) brightness(1.1);
        //     box-sizing: border-box;
        //     z-index: 2;
        // }
    }
    aside {
        width: 20vw;
        padding: 2vw;
        #mainLogo {
            width: 4vw;
            height: 4vw;
        }
        #profileSection {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            img {
                width: 3vw;
                height: 3vw;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .Editor {
        > main {
            width: 95vw;
        }
        aside {
            display: none;
        }
    }
}

.fs {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    > main {
        width: 100%;
        height: 100vh;
        padding: 0;
        margin: 0;
        border: none;
        overflow-y: auto;
        > nav {
            // display: none;
            width: 100vw !important;
            left: 0;
            #closeFS {
                display: flex;
            }
            #openFS {
                display: none;
            }
        }
        .editorPane {
            height: 100vh;
            width: 100vw;
            main {
                min-height: 0;
            }
        }
    }
    aside {
        display: none;
    }
}

.mobile {
    justify-content: center;
    > main {
        width: 30vw;
        > nav {
            // left: 0;
            width: 30vw;
            #mobileMode {
                display: none;
            }
            #desktopMode {
                display: flex;
            }
        }
    }
}


.desktop {
    > main {
        > nav {
            #mobileMode {
                display: flex;
            }
            #desktopMode {
                display: none;
            }
        }
    }
}