:root {
    --mainDark: #252525;
    --mainGrey: #c7c7c7;
    --mainLight: #fafafa;
    --color1: rgba(230, 181, 22, 0.814);
    --color2: rgba(23, 115, 235);
    --color1-transparent: rgba(230, 181, 22, 0.4);
    --color2-transparent: rgba(23, 115, 235, 0.4);
    --font1: "BalooChettan2";
    --font2: "Oswald";
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Doergon';
    src: url('./fonts/Doergon.ttf') format('truetype');
}  

@font-face {
    font-family: 'BalooChettan2';
    src: url('./fonts/BalooChettan2-VariableFont_wght.ttf') format('truetype');
}  

@font-face {
    font-family: 'Oswald';
    src: url('./fonts/Oswald-VariableFont_wght.ttf') format('truetype');
}

#fetch {
    display: none;
}

.Editor {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    box-sizing: border-box;
    font-family: var(--font2);
    scroll-behavior: smooth;
    // dialog {
    //     display: none;
    //     z-index: 2;
    // }
    ::-webkit-scrollbar {
        display: none;
    }

    .disabled {
        pointer-events: none;
        opacity: 0.65;
    }

    > main {
        // >*, >*>* {
        //     // border: 1px solid #25252510;
        // }
        box-sizing: border-box;
        position: relative;
        width: 70vw;
        // min-height: 40vh;
        height: 86vh;
        margin: 20px 1vw;
        padding-top: calc(2rem + 16px + 40px);
        overflow-y: scroll;
        overflow-x: hidden;
        // border: 2px solid #252525;
        border-radius: 20px;
        box-shadow: 0 0 20px #12121230;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        > nav {
            transition: all 400ms ease-in-out;
            display: flex;
            flex-direction: row;
            justify-content: right;
            align-items: center;
            padding: 20px 1vw;
            position: fixed;
            top: 20px;
            background-color: #fefefe50;
            box-shadow: 0 6px 6px #12121230;
            // backdrop-filter: blur(5px) saturate(2) brightness(1.1);
            z-index: 5;
            width: 70vw;
            box-sizing: border-box;
            gap: 1vw;
            overflow-y: scroll;
            border-radius: 20px 20px 0 0 ;

            // border-radius: 20px 20px 0 0;
            button {
                font-size: 2rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background: none;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                padding: 8px;
                backdrop-filter: saturate(1) brightness(1);
                transition: all 400ms ease-in-out;
            }
            button:hover {
                background: var(--mainLight);
            }
            #closeFS, #desktopMode {
                display: none;
            }
            #openFS, #mobileMode {
                display: flex;
            }
            #saveBtn {
                padding: 1vw;
                position: fixed;
                top: 4vh;
                right: 4vh;
                border: 2px solid var(--mainLight);
                color: var(--mainLight);
                font-family: var(--font2);
                border-radius: 10px;
                background: #ffffff40;
                cursor: pointer;
            }
        }
        caret-color: var(--mainLight);
        > main {
            // margin: calc(2rem + 16px + 40px) 0 0 0;
            transition: all 400ms ease-in-out;
            // height: 620vh;
            overflow-y: scroll;
            // height: ;
            // position: absolute;
        }
    }
    aside {
        width: 20vw;
        padding: 2vw;
        min-height: 80vh;
        #mainLogo {
            width: 4vw;
            height: 4vw;
        }
        #trashIcon {
            cursor: pointer;
            color: #ab0000;
            font-size: 2rem;
            padding: 20px;
            transition: all 200ms ease-in-out;
            border-radius: 10px;
        }
        #trashIcon:hover {
            color: #e80000;
            background: var(--mainGrey);
        }
        #profileSection {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            img {
                width: 3vw;
                height: 3vw;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .Editor {
        > main {
            width: 95vw;
        }
        aside {
            display: none;
        }
    }
}

.fs {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    > main {
        width: 100%;
        // height: fit-content;
        // height: 100vh;
        padding: 0;
        margin: 0;
        border: none;
        border-radius: 0;
        > nav {
            // display: none;
            width: 100vw !important;
            left: 0;
            #closeFS {
                display: flex;
            }
            #openFS {
                display: none;
            }
        }
        .editorPane {
            // height: 100vh;
            main {
                min-height: 0;
            }
        }
    }
    aside {
        display: none;
    }
}

.mobile {
    justify-content: center;
    > main {
        > nav {
            // left: 0;
            // width: 30vw;
            #mobileMode {
                display: none;
            }
            #desktopMode {
                display: flex;
            }
        }
        > main {
            width: 30vw;
        box-shadow: 0 6px 16px #12121240;
        }
    }
}

#editor {
    transition: all 500ms ease-in-out;
}


.desktop {
    > main {
        > nav {
            #mobileMode {
                display: flex;
            }
            #desktopMode {
                display: none;
            }
        }
    }
}