:root {
  --mainDark: #252525;
  --mainGrey: #c7c7c7;
  --mainLight: #fafafa;
  --color1: rgba(230, 181, 22, 0.814);
  --color2: rgba(23, 115, 235);
  --color1-transparent: rgba(230, 181, 22, 0.4);
  --color2-transparent: rgba(23, 115, 235, 0.4);
  --font1: "BalooChettan2";
  --font2: "Oswald";
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Doergon';
  src: url('fonts/Doergon.ttf') format('truetype');
}
@font-face {
  font-family: 'BalooChettan2';
  src: url('fonts/BalooChettan2-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Oswald';
  src: url('fonts/Oswald-VariableFont_wght.ttf') format('truetype');
}
#fetch {
  display: none;
}
.Editor {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  box-sizing: border-box;
  font-family: var(--font2);
  scroll-behavior: smooth;
}
.Editor ::-webkit-scrollbar {
  display: none;
}
.Editor .disabled {
  pointer-events: none;
  opacity: 0.65;
}
.Editor > main {
  box-sizing: border-box;
  position: relative;
  width: 70vw;
  height: 86vh;
  margin: 20px 1vw;
  padding-top: calc(2rem + 16px + 40px);
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 20px;
  box-shadow: 0 0 20px #12121230;
  display: flex;
  flex-direction: column;
  align-items: center;
  caret-color: var(--mainLight);
}
.Editor > main > nav {
  transition: all 400ms ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  padding: 20px 1vw;
  position: fixed;
  top: 20px;
  background-color: var(--mainLight);
  box-shadow: 0 6px 6px #12121230;
  z-index: 5;
  width: 70vw;
  box-sizing: border-box;
  gap: 1vw;
  overflow-y: scroll;
  border-radius: 20px 20px 0 0 ;
}
.Editor > main > nav button {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px;
  backdrop-filter: saturate(1) brightness(1);
  transition: all 400ms ease-in-out;
}
.Editor > main > nav button:hover {
  background: var(--mainLight);
}
.Editor > main > nav #closeFS,
.Editor > main > nav #desktopMode {
  display: none;
}
.Editor > main > nav #openFS,
.Editor > main > nav #mobileMode {
  display: flex;
}
.Editor > main > nav #saveBtn {
  padding: 1vw;
  position: fixed;
  top: 4vh;
  right: 4vh;
  border: 2px solid var(--mainLight);
  color: var(--mainLight);
  font-family: var(--font2);
  border-radius: 10px;
  background: #ffffff40;
  cursor: pointer;
}
.Editor > main > main {
  transition: all 400ms ease-in-out;
  overflow-y: scroll;
}
.Editor > main > main > * {
  transition: all 400ms ease-in-out;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}
.Editor > main > main > *:hover {
  background-color: #49494920;
}
.Editor > main > main > *:hover > .editBtn {
  opacity: 1;
}
.Editor > main > main > *:hover > .addSection {
  border-top: 2px solid #121212;
  border-bottom: 2px solid #121212;
}
.Editor > main > main .editBtn {
  position: absolute;
  font-size: 2rem;
  cursor: pointer;
  top: 0;
  right: 0;
  width: fit-content;
  height: fit-content;
  padding: 4px 0.6vw;
  margin: 6px 0.6vw;
  opacity: 0;
  border-radius: 12px;
  transition: all 400ms ease-in-out;
}
.Editor > main > main .editBtn:hover {
  background-color: var(--mainLight);
}
.Editor > main > main .addSection {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 0;
  left: 0;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  transition: all 400ms ease-in-out;
  border: 2px solid #12121200;
  box-sizing: border-box;
  z-index: 0;
  pointer-events: none;
}
.Editor > main > main .addSection p {
  position: absolute;
  bottom: 0;
  left: 45%;
}
.Editor > main > main .addSection:hover {
  border: 2px solid #121212;
}
.Editor aside {
  width: 20vw;
  padding: 2vw;
  min-height: 80vh;
  transition: all 400ms ease-in-out;
}
.Editor aside #mainLogo {
  width: 4vw;
  height: 4vw;
}
.Editor aside #trashIcon {
  cursor: pointer;
  color: #ab0000;
  font-size: 2rem;
  padding: 20px;
  transition: all 200ms ease-in-out;
  border-radius: 10px;
}
.Editor aside #trashIcon:hover {
  color: #e80000;
  background: var(--mainGrey);
}
.Editor aside #profileSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Editor aside #profileSection img {
  width: 3vw;
  height: 3vw;
}
@media screen and (max-width: 600px) {
  .Editor > main {
    width: 95vw;
  }
  .Editor aside {
    display: none;
  }
}
.fs {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}
.fs > main {
  width: 100%;
  padding: calc(2rem + 16px + 40px) 0 0 0;
  margin: 0;
  border: none;
  border-radius: 0;
  height: 100vh;
}
.fs > main > nav {
  width: 100vw !important;
  top: 0;
  left: 0;
  background-color: var(--mainLight);
}
.fs > main > nav #closeFS {
  display: flex;
}
.fs > main > nav #openFS {
  display: none;
}
.fs > main .editorPane main {
  min-height: 0;
}
.fs aside {
  width: 0;
  padding: 0;
  opacity: 0;
}
.mobile {
  justify-content: center;
}
.mobile > main > nav #mobileMode {
  display: none;
}
.mobile > main > nav #desktopMode {
  display: flex;
}
.mobile > main > main {
  width: 30vw;
  box-shadow: 0 6px 16px #12121240;
}
#editor {
  transition: all 500ms ease-in-out;
}
.desktop > main > nav #mobileMode {
  display: flex;
}
.desktop > main > nav #desktopMode {
  display: none;
}
