body {
  margin: 0;
  padding: 0;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  box-sizing: border-box;
  transition: all 1s ease-in-out;
}