@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVuEooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVsEpYCP.ttf) format('truetype');
}
.industrial {
  font-family: "Raleway", sans-serif;
  color: var(--colorDark);
  background: var(--colorLight);
}
.industrial > div:nth-child(2n + 1) > *:not(.hero) {
  background-color: var(--color1);
}
.industrial > div:nth-child(2n) > * {
  background-color: var(--color2);
}
.industrial .imgWrapper {
  display: flex;
}
.industrial .maps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  width: 100%;
  padding: 40px 0 80px;
  box-sizing: border-box;
}
.industrial .maps h2 {
  font-size: 2.4rem;
  font-weight: 1000;
  width: 80%;
  text-align: center;
}
.industrial .maps .mapsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}
.industrial .maps .mapsWrapper iframe {
  width: 100%;
  height: 50vh;
  box-shadow: 0 0 20px #12121280;
  z-index: 1;
}
.industrial .maps .mapsWrapper .changeImg {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #00000090;
  font-size: 2rem;
  cursor: pointer;
  font-family: "Oswald";
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.industrial .maps .mapsWrapper .changeImg:hover {
  opacity: 1;
}
.industrial .nav {
  justify-content: left;
}
.industrial .nav #navLogo {
  height: fit-content;
  max-height: 30px;
  color: inherit;
  transition: all 200ms ease-in-out;
}
.industrial .nav #navLogo:hover p {
  border-bottom: 2px solid var(--colorDark);
}
.industrial .nav #navLogo img {
  height: 3rem;
}
.industrial .nav #navLogo p {
  font-size: 1.2rem;
  font-weight: 1000;
  color: inherit;
  border-bottom: 2px solid transparent;
  transition: all 200ms ease-in-out;
}
.industrial .hero {
  position: relative;
  height: 70vh;
  overflow: hidden;
}
.industrial .hero .txtWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
}
.industrial .hero .txtWrapper > * {
  padding: 10px 1vw;
}
.industrial .hero .txtWrapper h2 {
  font-size: 3.4rem;
  font-weight: 1000;
  margin: 0;
}
.industrial .hero .txtWrapper p {
  width: 50%;
  line-height: 1.5;
  box-sizing: border-box;
  font-size: 1.5rem;
}
.industrial .hero .txtWrapper .cta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  background-color: var(--colorLight);
  padding: 10px 2vw;
  border-radius: 12px;
  max-width: 50%;
  cursor: pointer;
  width: fit-content;
  font-weight: 1000;
  color: var(--colorDark);
}
.industrial .hero .txtWrapper .cta:hover {
  filter: brightness(0.8);
}
.industrial .hero .imgWrapper {
  width: 100% !important;
  z-index: 1;
  display: flex;
}
.industrial .hero .imgWrapper img {
  width: 100%;
  filter: brightness(0.1) saturate(2);
}
.industrial .imgAndTxt {
  padding: 0;
  gap: 0;
}
.industrial .imgAndTxt > *.txtWrapper {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
  text-align: left;
  width: 60% !important;
  box-sizing: border-box;
}
.industrial .imgAndTxt > *.txtWrapper > * {
  padding: 10px 1vw;
}
.industrial .imgAndTxt > *.txtWrapper h2 {
  font-size: 2.4rem;
  font-weight: 1000;
  margin: 0;
}
.industrial .imgAndTxt > *.txtWrapper p {
  width: 100%;
  line-height: 1.5;
  box-sizing: border-box;
  font-size: 1.2rem;
}
.industrial .imgAndTxt > *.imgWrapper {
  width: 40% !important;
}
.industrial .imgAndTxt > *.imgWrapper img {
  width: 100%;
}
.industrial .footer {
  min-height: 100px;
}
.industrial .footer #watermark a {
  color: inherit;
}
