.login {
    margin: 5vw;
    padding: 3vw;
    width: 50%;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    // border: 1px solid #121212;
    font-family: var(--font1);
    box-shadow: 0 0 30px #12121220;
    border-radius: 20px;
    line-height: 1.5;
    height: 60vh;
    img {
        width: 5vw;
        border-radius: 10px;
    }
    button {
    font-family: var(--font1);

        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: row;
        gap: 2vw;
        justify-content: center;
        align-items: center;
    }
}