:root {
    --mainLight: #fefefe;
    --mainDark: #101010;
    --mainColor1: #3994AC;
    --mainColor2: #316273;
    --mainColor3: #C52973;

    --nbMainLight: #faf9f9;
    --nbMainDark: #121212;
    --nbColor1: #41528B;
    --nbColor2: #29396A;
    --nbColor3: #9C3131;
}

@font-face {
    font-family: 'Oswald';
    src: url('./fonts/Oswald-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto';
    src: url('./fonts/NotoSans-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'WorkSans';
    src: url('./fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
}

::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--mainColor3);
  }
  /* Handle */
::-webkit-scrollbar-thumb {
    background: var(--mainColor1);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

#mainPage {
    font-family: 'WorkSans';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    nav {
        position: fixed;
        top: 0;
        width: 80vw;
        padding: 0px 10vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        backdrop-filter: blur(10px) saturate(2) brightness(1.2);
        font-family: 'Oswald';
        color: var(--mainLight);
        z-index: 2;
        a {
            color: var(--mainLight);
            text-decoration: none;     
            font-size: 1.4rem;
            padding: 20px 1vw;
        }
        * {
            max-height: 40px;
        } 
        #logo {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 0vw;
            font-size: 1.6rem;
        }
        #mobileMenu {
            position: absolute;
            right: 6vw;
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 8px;
            div {
                width: 10vw;
                height: 2px;
                background-color: var(--mainLight);
                border-radius: 4px;
            }
        }
    }
    main {
        background: linear-gradient(var(--mainColor2), var(--mainColor3));
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        // padding-top: 80px;
        z-index: 1;
        section {
            width: 100%;
            padding: 40px 16vw;
            box-sizing: border-box;
            // margin:150px 0;
            min-height: 400px;
        }
        section:nth-child(2n) {
            // background-color: #101010;
            backdrop-filter: blur(10px) saturate(1.4) brightness(1.2);
        }
        #hero {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 160px 16vw 100px 16vw;
            gap: 4vw;
            box-sizing: border-box;
            #heroTxt {
                h1 {
                    margin: 0 0 50px 0;
                    font-weight: 1000;
                    font-size: 3.6rem;
                    color: var(--mainLight);
                }
                h2 {
                    margin: 0 0 20px 0;
                    font-size: 1.4rem;
                    color: var(--mainLight);
                }
                a {
                    text-align: center;
                    display: block;
                    font-size: 1.2rem;
                    color: var(--mainLight);
                    background-color: var(--mainDark);
                    border: none;
                    padding: 20px 2vw;
                    width: fit-content;
                    font-family: 'Oswald';
                    text-transform: uppercase;
                    margin-top: 40px;
                    text-decoration: none;
                }
            }
            @keyframes moveSites {
                0% {
                    box-shadow: 1vw 1vw 4vw #fefefe80;
                    opacity: 0;
                }
                50% {
                    box-shadow: 1vw 1vw 4vw #fefefe10;
                    opacity: 1;
                }
                100% {
                    box-shadow: 1vw 1vw 4vw #fefefe80;
                    transform: translate(-2vw, -2vw);
                    opacity: 0;
                }
            }
            #exampleSites {
                width: 34vw;
                border-radius: 12px;
                height: fit-content;
                position: relative;
                img {
                    width: 34vw;
                    top: 0;
                    left: 0;
                    border-radius: 12px;
                    box-shadow: 1vw 1vw 4vw #fefefe70;
                    animation: moveSites 6s infinite;
                    // border: 2px solid green;
                }
                & > *:nth-child(2) {
                    // border: 2px solid blue;
                    position: absolute;
                    animation: moveSites 6s infinite 2s;
                }
                & > *:nth-child(3) {
                    // border: 2px solid red;
                    position: absolute;
                    animation: moveSites 6s infinite 4s;
                }
            }

        }
        #partners {
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--mainLight);
            flex-direction: row;
            gap: 2vw;
            width: 100%;
            padding: 40px 16vw;
            box-sizing: border-box;
            min-height: fit-content;
            img {
                max-height: 60px;
            }
            div {
                width: 2vw;
                height: 1px;
                background-color: var(--mainLight);
            }
        }
    }
    footer {
        width: 100%;
        min-height: 200px;
        padding: 40px 16vw;
        background: linear-gradient(to top, var(--mainColor1), var(--mainColor3));
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        color: var(--mainLight);
        font-family: 'WorkSans';
        #socialLinks {
            display: flex;
            flex-direction: row;
            gap: 2vw;
            a {
                color: var(--mainLight);
                font-size: 2rem;
            }
        }
    }
}

#dashnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    box-shadow: 0 0 20px #12121260;
    // background-color: #ededed;
    background-color: #316273;
    padding: 0 6vw;
    font-family: 'Oswald';
    & img {
        height: 60px;
        border-radius: 50%;
        box-shadow: 10px 10px 10px #12121290, -10px -10px 10px #ffffff19;
        filter: contrast(1.6) saturate(2);
    }
    & > div, & > a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2vw;
    }
    a {
        color: #fff;
    }
}

#dash {
    padding: 40px 6vw;
    font-family: 'Noto';
    background-color: #316273;
    color: #fff;
    a {
        color: #fff;
    }
    h1, h2 {
        font-family: 'Oswald';
    }
    #websites {
        display: flex;
        flex-direction: column;
        gap: 20px;
        min-height: 80vh;
        article {
            display: grid;
            grid-template-columns: 6% 20% 30% 30%;
            grid-template-rows: 1fr;
            align-items: center;
            justify-content: space-between;
            border-radius: 15px;
            padding: 20px 2vw;
            box-shadow: 10px 10px 10px #12121230, -10px -10px 10px #ffffff09;
            transition: all 200ms ease-in-out;
            & > *:nth-child(1) {
                font-size: 2rem;
            } 
            img {
                // height: 100%;
                max-width: 100%;
                border-radius: 4px;
                // box-shadow: 10px 10px 10px #12121290, -10px -10px 10px #ffffff09;
            }
            a {
                color: #fff;
                justify-self: left;
            }
        }
        article:hover {
            // backdrop-filter: brightness(1.6);
            background-color: #3994AC;
        }
        & *:last-child {
            // background-color: #fff;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            width: 100%;
        }
    }
}

#templatesWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Noto';
    color: #fff;
    padding: 80px 10vw;
    font-family: 'Oswald';
    background: linear-gradient(var(--mainColor2), var(--mainColor3));
    #templates {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: fit-content fit-content fit-content;
        row-gap: 60px;
        column-gap: 6vw;
        article {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            border-radius: 15px;
            // background-color: var(--nbMainDark);
            // opacity: 0.2;
            // padding: 20px 2vw;
            box-shadow: 10px 10px 10px #12121250, -10px -10px 10px #ffffff19;
            transition: all 200ms ease-in-out;
            // cursor: pointer;
            overflow: hidden;
            position: relative;
            font-family: 'WorkSans';
            img {
                width: 100%;
                z-index: 1;
            }
            a {
                text-decoration: none;
                color: #fff;
                // margin-bottom: 20px;
            }
            #hiddenBtns {
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 2;
                width: 100%;
                height: 100%;
                background: linear-gradient(var(--mainLight), var(--mainColor2));
                opacity: 0;
                transition: all 300ms ease-in-out;
                gap: 40px;
                a {
                    font-family: 'WorkSans';
                    font-weight: 1000;
                    text-transform: uppercase;
                    color: var(--mainDark);
                    // text-decoration: underline;
                    font-size: 1.4rem;
                    width: 90%;
                    transition: all 200ms ease-in-out;
                    border-bottom: 2px solid #10101000;
                    padding: 0 0 10px 0;
                    width: 70%;
                }
                & > *:nth-child(2) {
                    color: #4c4c4e;
                }
                a:hover {
                    border-bottom: 2px solid var(--mainDark);
                    // text-decoration: underline;
                }
                a:nth-child(2):hover {
                    border-bottom: 2px solid #4c4c4e;
                    // text-decoration: underline;
                }
            }
            #hiddenBtns:hover {
                opacity: 1;
            }
        }
        article:hover {
            background-color: var(--mainColor1);
        }
    }
}

#dashfooter {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    box-shadow: 0 0 20px #12121260;
    // background-color: #ededed;
    background: linear-gradient(var(--mainColor3), var(--mainColor2));
    padding: 0 6vw;
    font-family: 'Oswald';
    & img {
        height: 60px;
        border-radius: 50%;
        box-shadow: 10px 10px 10px #12121290, -10px -10px 10px #ffffff19;
        filter: contrast(1.6) saturate(2); 
    } 
    & div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2vw;
    }
    a {
        color: #fff;
    }
}

.Neobrutalism {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0 0 0;
    font-size: 0.8vw;
    .noSelect {
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .noSelect:focus {
        outline: none !important;
    }      
    #contentWrapper {
        border: 1px solid #101010;
        width: 60%;
        height: 90vh;
        overflow-y: scroll;
        background-color: var(--nbMainLight);
        scroll-behavior: smooth;
        justify-self: center;
        align-self: center;
        display: flex;
        flex-direction: column;
        // width: 100%;
        font-family: 'Oswald';
        nav {
            display: flex;
            flex-direction: row;
            width: 100%;
            max-height: 200px;
            justify-content: space-between;
            align-items: center;
            padding: 20px 16%;
            box-sizing: border-box;
            // border-bottom: 2px solid var(--nbMainDark);
            & > * {
                gap: 2%;
                font-family: 'Oswald';
            }
            & > * > * {
                max-height: 100px;
            }
            #logo {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 2%;
                a {
                    font-size: 1.6em;
                    font-weight: 900;
                }
                img {
                    max-width: 40%;
                    transition: all 200ms ease-in-out;
                }
                img:hover {
                    filter: saturate(3);
                }
            }
            #links {
                width: 40%;
                display: flex;
                flex-direction: row;
                gap: 4%;
                a {
                    text-decoration: none;
                    color: var(--nbMainDark);
                    font-size: 1.2em;
                    text-align: center;
                }
            }
            button {
                font-size: 1.2rem;
                border: none;
                background-color: var(--nbColor2);
                color: var(--nbMainLight);
                padding: 10px 4%;
                cursor: pointer;
                box-shadow: 0.4vw 0.4vw 0 var(--nbMainDark);
                transition: all 200ms ease-in-out;
            } 
            button:hover {
                filter: saturate(2);
                box-shadow: 0.6vw 0.6vw 0 var(--nbMainDark);
            }
        }
        main {
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;
            // min-height: 80vh;
            padding: 0px 0vw 50px 0vw;
            section {
                width: 100%;
                box-sizing: border-box;
                padding: 0px 16%;
            }
            section:nth-child(2n) {
                background-color: var(--nbColor1);
                color: var(--nbMainLight);
            }
            #hero {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 5%;
                margin: 0 0 20px 0;
                h1 {
                    font-size: 4rem;
                    background: #11111100;
                    position: relative;
                    line-height: 1;
                    margin: 50px 0;
                }
                h2, h3 {
                    font-weight: 200;
                }
                form {
                    display: flex;
                    flex-direction: row;
                    width: fit-content;
                    box-shadow: 0.4vw 0.4vw 0 var(--nbMainDark);
                    margin: 30px 0;
                    input {
                        border: 2px solid var(--nbMainDark);
                        padding: 10px 2vw;
                        font-size: 1rem;
                        font-family: 'Oswald';
                        color: #12121280;
                        border-radius: 0;
                    }
                    button {
                        background-color: var(--nbColor3);
                        padding: 10px 2vw;
                        font-size: 1rem;
                        color: var(--nbMainLight);
                        font-family: 'Oswald';
                        border-top: 2px solid var(--nbMainDark);
                        border-bottom: 2px solid var(--nbMainDark);
                        border-right: 2px solid var(--nbMainDark);
                        cursor: pointer;
                        transition: all 200ms ease-in-out;
                    }
                    button:hover {
                        filter: saturate(2);
                    }
                }
                img {
                    margin-top: 50px;
                    width: 46%;
                    border-radius: 25px;
                    margin-right: -6vw;
                    // filter: drop-shadow(1vw 1vw 0px var(--nbMainDark));
                }
            }
            #partners {
                display: flex;
                flex-direction: column;
                margin: 0;
                padding: 0;
                justify-content: center;
                position: relative;
                h2 {
                    font-size: 3rem;
                    color: var(--nbMainLight);
                    align-self: center;
                }
                #arrowHint, #arrowHintRight {
                    position: absolute;
                    font-size: 4rem;
                    // opacity: 0.4;
                    // color: #101010;
                }
                #arrowHint {
                    right: 2vw;
                    top: 240px;
                }
                #arrowHintRight {
                    left: 2vw;
                    top: 240px;
                }
                #articles {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 8vh 0vw;
                    overflow-x: scroll;
                    scroll-behavior: smooth;
                    article {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        min-width: 14%;
                        transition: all 200ms ease-in-out;
                        cursor: pointer;
                        margin: 0 8%;
                        img {
                            background-color: var(--nbMainLight);
                            padding: 1vw;
                            box-shadow: 1vw 1vw 0 var(--nbMainDark);
                            width: 100%;
                            transition: all 200ms ease-in-out;
                        }
                        p {
                            text-align: center;
                            font-size: 1.4rem;
                            color: var(--nbMainDark);
                            background-color: var(--nbMainLight);
                            padding: 1vw;
                            box-shadow: 1vw 1vw 0 var(--nbMainDark);
                            transition: all 200ms ease-in-out;
                            width: 100%;
                        }
                    }
                    article:nth-child(1) {
                        margin-left: 10%;
                    }
                    article:hover > img, article:hover > p{
                        // margin-top: -2px;
                        box-shadow: 1.6vw 2vw 0 var(--nbMainDark);
                    }
                    article:hover {
                        margin-top: -20px;
                    }
                }
                #articles::-webkit-scrollbar {
                    display: none;
                }
            }
            #about {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                padding: 100px 16%;
                box-sizing: border-box;
                gap: 6%;
                img {
                    width: 46%;
                    transition: all 200ms ease-in-out;
                }
                img:hover {
                    filter: saturate(2);
                }
                div {
                    text-align: right;
                    width: 42%;
                    h2 {
                        font-size: 3.4rem;
                    }
                    p {
                        font-size: 1.2rem;
                    }
                }
            }
            #testimonials {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                article {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 60px 0;
                    gap: 10%;
                    width: 100%;
                    img {
                        width: 100%;
                        box-shadow: 1vw 1vw 0 var(--nbMainDark);
                        background-color: var(--nbMainLight);
                        transition: all 200ms ease-in-out;
                    }
                    img:hover, .review:hover {
                        box-shadow: 1.4vw 1.4vw 0 var(--nbMainDark);
                        filter: saturate(2);
                    }
                    img:hover {
                        margin-top: -14px;
                    }
                    .review {
                        max-width: 60%;
                        background-color: var(--nbMainLight);
                        color: var(--nbMainDark);
                        padding: 4%;
                        box-shadow: 1vw 1vw 0 var(--nbMainDark);
                        font-size: 1.4rem;
                        text-align: right;
                        transition: all 200ms ease-in-out;
                        .starsReview {
                            font-size: 2rem;
                            color: var(--nbColor3);
                        }
                    }
                }
            }
            #contact {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 6vw;
                padding: 80px 16%;
                h2 {
                    width: 40%;
                    font-size: 3.2rem;
                }
                form {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    width: 40%;
                    box-sizing: border-box;
                    #names {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        gap: 1vw;
                        width: 100%;
                        box-sizing: border-box;


                    }
                    input, textarea {
                        box-sizing: border-box;
                        border: none;
                        padding: 10px 1vw;
                        font-family: 'Oswald';
                        background-color: var(--nbColor2);
                        color: var(--mainLight);
                        box-shadow: 0.4vw 0.4vw 0 var(--nbMainDark);
                        width: 100%;
                        opacity: 0.9;
                        font-size: 1.2rem;
                        transition: background-color 200ms ease-in-out;
                    }
                    textarea {
                        min-width: 100%;
                        max-width: 100%;
                    }
                    input::placeholder, textarea::placeholder {
                        transition: all 200ms ease-in-out;
                        color: var(--mainLight);

                    }
                    input:hover, textarea:hover {
                        background-color: var(--nbMainLight);
                    }
                    input:hover::placeholder, textarea:hover::placeholder, input:hover, textarea:hover {
                        color: var(--nbMainDark);
                    }
                    #message {
                        min-height: 100px;
                    }
                    button {
                        background-color: var(--nbColor3);
                        color: var(--nbMainLight);
                        font-family: 'Oswald';
                        border: none;
                        padding: 10px 1vw;
                        font-size: 1.6rem;
                        padding: 10px 1vw;
                        box-shadow: 0.4vw 0.4vw 0 var(--nbMainDark);
                        width: 100%;
                        cursor: pointer;
                    }
                }
            }
        }
        footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 80px 16%;
            // border-top: 2px solid var(--nbMainDark);
            background-color: var(--nbColor1);
            color: var(--nbMainLight);
            a {
                font-size: 1.6rem;
            }
            #socialLinks {
                cursor: pointer;
                display: flex;
                flex-direction: row;
                gap: 2vw;
                font-size: 2rem;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    #mainPage {
        nav {
            justify-content: center;
            #logo {
                img {
                    border-radius: 12px;
                }
                a {
                    display: none;
                }
            }
            // background-color: #101010;
            & > *:nth-child(2) {
                display: none;
            background-color: #101010;
            }
            #mobileMenu {
                display: flex;
            }
        }
        main {
            #hero {
                padding: 100px 0vw 100px 0vw;
                flex-direction: column;
                gap: 40px;
                width: 90vw;
                #heroTxt {
                    text-align: center;
                    h1 {
                        font-size: 3rem;
                    }
                    * {
                        margin: 20px;
                    }
                }
                #exampleSites {
                    width: 80vw;
                    img {
                        width: 100%;
                        padding: 0;
                        margin: 0;
                    }
                }
            }
            #partners {
                font-size: 0.8rem;
                padding: 40px 0;
                justify-content: center;
                img {
                    width: 28vw;
                    // max-height: 30px;
                }
            }
        }
        footer {
            flex-direction: column-reverse;
            font-size: 1.2rem;
            #socialLinks {
                gap: 10vw;
            }
        }
    }
}