:root {
  --mainLight: #fefefe;
  --mainDark: #101010;
  --mainColor1: #3994ac;
  --mainColor2: #09596b;
  --mainColor3: #42042c;
  --mainLinkColor: #415eec;
  --nbMainLight: #faf9f9;
  --nbMainDark: #121212;
  --nbColor1: #41528b;
  --nbColor2: #29396a;
  --nbColor3: #9c3131;
  --wb3MainLight: #effdff;
  --wb3MainDark: #111113;
  --wb3Color1: #ffde52;
  --wb3Color2: #cdac00;
  --wb3Color3: #0b98b8;
}
@font-face {
  font-family: "Oswald";
  src: url("fonts/Oswald-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Noto";
  src: url("fonts/NotoSans-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "WorkSans";
  src: url("fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Medium.ttf") format("truetype");
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--mainColor3);
}
::-webkit-scrollbar-thumb {
  background: var(--mainColor1);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#MainNav {
  position: fixed;
  top: 0;
  width: 80vw;
  padding: 0px 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px) saturate(2) brightness(1.2);
  font-family: "Oswald";
  color: var(--mainLight);
  z-index: 2;
}
@keyframes mobileMenuAnimation {
  0% {
    filter: drop-shadow(0 0 0px var(--mainLight));
  }
  50% {
    filter: drop-shadow(0 0 20px var(--mainLight));
  }
  100% {
    filter: drop-shadow(0 0 0px var(--mainLight));
  }
}
#MainNav .onClickAnimation {
  animation: mobileMenuAnimation 2s 1;
}
#MainNav a {
  color: var(--mainLight);
  text-decoration: none;
  font-size: 1.4rem;
  padding: 20px 1vw;
  cursor: pointer;
}
#MainNav * {
  max-height: 40px;
}
#MainNav #logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
  font-size: 1.6rem;
  z-index: 9;
}
#MainNav #mobileMenu {
  position: absolute;
  right: 6vw;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  z-index: 99;
}
#MainNav #mobileMenu div {
  width: 10vw;
  height: 2px;
  background-color: var(--mainLight);
  border-radius: 4px;
  transition: all 200ms ease-in-out;
}
#MainNav .clicked div:nth-child(1) {
  transform: rotate(45deg) translateX(6px) translateY(6px);
}
#MainNav .clicked div:nth-child(2) {
  transform: scale(0);
}
#MainNav .clicked div:nth-child(3) {
  transform: rotate(135deg) translateX(-8px) translateY(9px);
}
#MainNav #overlayMenu[class="clicked"] {
  overflow-y: hidden;
  height: 100vh;
  opacity: 1;
}
#MainNav #overlayMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0vh;
  opacity: 0;
  max-height: 100vh;
  background: linear-gradient(var(--mainColor2), var(--mainColor3));
  z-index: 88;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 400ms ease-in-out;
}
#MainNav #overlayMenu a {
  font-size: 2.4rem;
}
#MainNav #overlayMenu a:last-child {
  margin: 0 0 50px 0;
}
.About,
.Blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100vw;
}
#WIP {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(var(--mainColor2), var(--mainColor3));
  box-sizing: border-box;
  width: 100vw;
  padding: 120px 0;
}
#WIP .txt {
  font-family: "WorkSans";
  color: var(--mainLight);
  width: 60%;
  text-align: center;
}
#WIP .txt h1 {
  font-size: 2rem;
}
#WIP .txt p {
  font-size: 1.2rem;
}
#WIP img {
  width: 50%;
  mix-blend-mode: difference;
}
#mainPage {
  font-family: "WorkSans";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
#mainPage main {
  background: linear-gradient(var(--mainColor2), var(--mainColor3));
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  z-index: 1;
}
#mainPage main section {
  width: 100%;
  padding: 40px 16vw;
  box-sizing: border-box;
  min-height: 400px;
}
#mainPage main section:nth-child(2n) {
  backdrop-filter: blur(10px) saturate(1.4) brightness(1.2);
}
#mainPage main #hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 180px 16vw 100px 16vw;
  gap: 4vw;
  box-sizing: border-box;
}
#mainPage main #hero #heroTxt h1 {
  margin: 0 0 50px 0;
  font-weight: 1000;
  font-size: 3.6rem;
  color: var(--mainLight);
}
#mainPage main #hero #heroTxt h2 {
  margin: 0 0 20px 0;
  font-size: 1.4rem;
  color: var(--mainLight);
}
#mainPage main #hero #heroTxt a {
  text-align: center;
  display: block;
  font-size: 1.4rem;
  color: var(--mainLight);
  background-color: var(--mainDark);
  border: none;
  padding: 20px 2vw;
  width: fit-content;
  font-family: "Oswald";
  margin-top: 40px;
  text-decoration: none;
}
@keyframes moveSites {
  0% {
    box-shadow: 1vw 1vw 4vw #fefefe80;
    opacity: 0;
  }
  50% {
    transform: translate(-2vw, -2vw);
    box-shadow: 1vw 1vw 4vw #fefefe10;
    opacity: 1;
  }
  100% {
    box-shadow: 1vw 1vw 4vw #fefefe80;
    opacity: 0;
  }
}
#mainPage main #hero #exampleSites {
  width: 34vw;
  border-radius: 12px;
  height: fit-content;
  position: relative;
}
#mainPage main #hero #exampleSites img {
  width: 34vw;
  top: 0;
  left: 0;
  border-radius: 12px;
  box-shadow: 1vw 1vw 4vw #fefefe70;
  animation: moveSites 6s infinite 3s;
}
#mainPage main #hero #exampleSites > *:nth-child(2) {
  position: absolute;
  animation: moveSites 6s infinite 2s;
}
#mainPage main #hero #exampleSites > *:nth-child(3) {
  position: absolute;
  animation: moveSites 6s infinite 0s;
}
#mainPage main #partners {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--mainLight);
  flex-direction: row;
  gap: 2vw;
  width: 100%;
  padding: 40px 16vw;
  box-sizing: border-box;
  min-height: fit-content;
}
#mainPage main #partners img {
  max-height: 60px;
}
#mainPage main #partners div {
  width: 2vw;
  height: 1px;
  background-color: var(--mainLight);
}
#mainPage footer {
  width: 100%;
  min-height: 200px;
  padding: 40px 16vw;
  background: linear-gradient(to top, var(--mainColor2), var(--mainColor3));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  color: var(--mainLight);
  font-family: "WorkSans";
}
#mainPage footer #socialLinks {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}
#mainPage footer #socialLinks a {
  color: var(--mainLight);
  font-size: 2rem;
}
#accountWrapper {
  background: linear-gradient(var(--mainColor2), var(--mainColor3));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  width: 100vw;
}
#accountWrapper #accountSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Oswald";
  width: 25%;
  padding: 40px 0;
  margin: 40px 0;
  color: var(--mainLight);
  box-shadow: 10px 10px 10px #12121250, -10px -10px 10px #ffffff19;
  border-radius: 24px;
}
#accountWrapper #accountSection #profilePicWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 10vw;
  position: relative;
}
#accountWrapper #accountSection #profilePicWrapper .hiddenMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  width: 100%;
  border-radius: 24px;
  height: 100%;
  transition: all 400ms ease-in-out;
  opacity: 0;
  font-size: 1.2rem;
  cursor: pointer;
}
#accountWrapper #accountSection #profilePicWrapper .hiddenMenu:hover {
  opacity: 0.8;
}
#accountWrapper #accountSection #profilePicWrapper #profilePic {
  width: 100%;
  border-radius: 24px;
}
.Dashboard {
  width: 100vw;
}
#dashnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  box-shadow: 0 0 20px #12121260;
  background-color: var(--mainColor2);
  padding: 0 6vw;
  font-family: "Oswald";
  color: #fff;
}
#dashnav a {
  text-decoration: none;
}
#dashnav img {
  height: 60px;
  border-radius: 50%;
  box-shadow: 10px 10px 10px #12121240, -10px -10px 10px #ffffff16;
}
#dashnav > div,
#dashnav > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  font-size: 1.4rem;
  text-decoration: none;
}
#dashnav a {
  color: #fff;
  padding: 20px 0.4vw;
  margin: 0;
}
#dashnav #profileMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.4vw;
  backdrop-filter: saturate(1.2) brightness(1.2);
  padding: 0 0 0 1.4vw;
  border-radius: 48px;
  max-height: 60px;
  box-shadow: 10px 10px 10px #12121240, -10px -10px 10px #ffffff08;
}
#dashnav #profileMenu p,
#dashnav #profileMenu a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.4vw;
  line-height: 0.6;
  transition: margin 400ms ease-in-out, visibility 400ms ease-in-out, opacity 400ms ease-in-out;
  z-index: 2;
  cursor: pointer;
  padding: 20px 0.4vw;
  margin: 0;
}
#dashnav #profileMenu #signOut {
  cursor: pointer;
}
#dashnav #profileMenu #profilePic {
  z-index: 3;
  border-radius: 0 50% 50% 0;
  box-shadow: 10px 10px 10px #12121200;
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#dashnav #profileMenu #profilePic img {
  min-width: 60px;
  width: 100%;
  height: max-content;
  border-radius: 0 50% 50% 0;
}
#dashnav #mobileMenu {
  position: absolute;
  right: 6vw;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  z-index: 99;
}
#dashnav #mobileMenu div {
  width: 10vw;
  height: 2px;
  background-color: var(--mainLight);
  border-radius: 4px;
  transition: all 200ms ease-in-out;
}
#dashnav #mobileMenu.clicked {
  position: fixed;
}
#dashnav .clicked div:nth-child(1) {
  transform: rotate(45deg) translateX(6px) translateY(6px);
}
#dashnav .clicked div:nth-child(2) {
  transform: scale(0);
}
#dashnav .clicked div:nth-child(3) {
  transform: rotate(135deg) translateX(-8px) translateY(9px);
}
#dashnav #overlayMenu.clicked {
  height: 100vh;
  overflow-y: hidden;
  opacity: 1;
  pointer-events: auto;
}
#dashnav #overlayMenu {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0vh;
  opacity: 0;
  transition: all 400ms ease-in-out;
  max-height: 100vh;
  background: linear-gradient(var(--mainColor2), var(--mainColor3));
  z-index: 88;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vh;
}
#dashnav #overlayMenu a,
#dashnav #overlayMenu p {
  font-size: 2.4rem;
  margin: 0;
}
@keyframes loaderRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#loaderSites {
  justify-self: center;
  align-self: center;
  font-size: 4rem;
  animation: loaderRotate 800ms infinite linear;
  color: var(--mainLight);
}
#dash {
  padding: 40px 6vw;
  font-family: "Noto";
  color: #fff;
  background: linear-gradient(var(--mainColor2), var(--mainColor3));
}
#dash a {
  color: #fff;
  padding: 0;
}
#dash h1,
#dash h2 {
  font-family: "Oswald";
}
#dash h1 {
  margin: 0;
}
#dash #websites {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 80vh;
  padding: 20px 0;
  position: relative;
}
#dash #websites > a {
  display: grid;
  position: relative;
  grid-template-columns: 20% 20% 15% 25%;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  padding: 0 2vw 0 0;
  box-shadow: 10px 10px 10px #12121220, -10px -10px 20px #a59cc409;
  transition: all 200ms ease-in-out;
}
#dash #websites > a > *:nth-child(1) {
  font-size: 2rem;
}
#dash #websites > a .imgWrapper {
  width: 100%;
  height: 150px;
  border-radius: 15px 0 0 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#dash #websites > a .imgWrapper img {
  height: 100%;
  width: auto;
}
#dash #websites > a article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#dash #websites > a .publishedCheck {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -4px;
  right: 1vw;
  font-size: 0.8rem;
}
#dash #websites > a .publishedCheck svg {
  padding: 0;
  margin: 0;
  vertical-align: unset;
}
#dash #websites > a:hover {
  background-color: var(--mainColor1) !important;
}
#dash #websites #linkTemplates {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px 2vw;
}
#templatesWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Noto";
  color: #fff;
  padding: 80px 10vw;
  font-family: "Oswald";
  background: linear-gradient(var(--mainColor2), var(--mainColor3));
  width: 80vw;
}
#templatesWrapper #templates {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: fit-content fit-content fit-content;
  row-gap: 60px;
  column-gap: 6vw;
  min-height: 60vh;
}
#templatesWrapper #templates article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  box-shadow: 10px 10px 10px #12121250, -10px -10px 10px #ffffff19;
  transition: all 200ms ease-in-out;
  overflow: hidden;
  position: relative;
  font-family: "WorkSans";
  background-color: var(--mainLight);
  color: var(--mainDark);
  filter: saturate(1.2);
}
#templatesWrapper #templates article img {
  min-width: 100%;
  width: auto;
  min-height: 420px;
  max-height: 460px;
  z-index: 1;
}
#templatesWrapper #templates article a {
  text-decoration: none;
  color: #fff;
}
#templatesWrapper #templates article #hiddenBtns {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: linear-gradient(var(--mainLight), var(--mainColor2));
  opacity: 0;
  transition: all 300ms ease-in-out;
  gap: 40px;
  filter: saturate(2);
}
#templatesWrapper #templates article #hiddenBtns * {
  cursor: pointer;
}
#templatesWrapper #templates article #hiddenBtns a {
  font-family: "WorkSans";
  font-weight: 1000;
  text-transform: uppercase;
  color: var(--mainDark);
  font-size: 1.4rem;
  transition: all 200ms ease-in-out;
  border-bottom: 2px solid #10101000;
  padding: 0 0 10px 0;
  min-width: 60%;
  max-width: 80%;
}
#templatesWrapper #templates article #hiddenBtns > *:nth-child(2) {
  color: var(--mainLight);
}
#templatesWrapper #templates article #hiddenBtns a:hover {
  border-bottom: 2px solid var(--mainDark);
}
#templatesWrapper #templates article #hiddenBtns a:nth-child(2):hover {
  border-bottom: 2px solid var(--mainLight);
}
#templatesWrapper #templates article #hiddenBtns:hover {
  opacity: 1;
}
#dashfooter {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background: linear-gradient(var(--mainColor3), var(--mainColor2));
  padding: 0 6vw;
  font-family: "Oswald";
}
#dashfooter img {
  height: 60px;
  border-radius: 50%;
  box-shadow: 10px 10px 10px #12121240, -10px -10px 10px #ffffff08;
  filter: contrast(1.6) saturate(2);
}
#dashfooter div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}
#dashfooter a {
  color: #fff;
}
#popupWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #00000099;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  box-sizing: border-box;
  font-family: "Oswald";
  color: var(--mainDark);
  transition: all 1s ease-in-out;
}
#popupWrapper #popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--mainLight);
  border-radius: 24px;
  padding: 40px 0 0 0;
  font-size: 1.4rem;
  min-width: 40vw;
  max-width: 80vw;
  text-align: center;
  box-shadow: 10px 10px 10px #12121299, -10px -10px 10px #ffffff25;
  z-index: 102;
  position: relative;
}
#popupWrapper #popup .fileInput {
  display: none;
}
#popupWrapper #popup .fileInputLabel {
  font-size: 1.2rem;
  background-color: var(--mainColor1);
  color: var(--mainLight);
  padding: 10px 4vw;
  border-radius: 12px;
  box-shadow: 0px 0px 20px #12121249;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
#popupWrapper #popup .fileInputLabel:hover {
  filter: brightness(1.4);
  box-shadow: 0px 0px 30px #12121299;
}
#popupWrapper #popup #message {
  padding: 0 10vw 40px 10vw;
}
#popupWrapper #popup #editSectionDeleteBtn * {
  color: var(--mainLight);
  background-color: #912323;
  border-radius: 12px;
  padding: 20px 4vw;
  margin: 0 0 40px 0;
  cursor: pointer;
}
#popupWrapper #popup #customX {
  position: absolute;
  top: 10px;
  right: 1%;
  cursor: pointer;
  padding: 8px 1vw;
}
#popupWrapper #popup #previewPicUpload {
  width: fit-content;
  background-color: var(--mainLight);
  border-radius: 10px;
  height: 30vh;
  min-width: 30vh;
  box-shadow: 0px 0px 20px #12121229;
  margin: 40px 0;
  margin-left: 4vw;
  margin-right: 4vw;
  min-height: 180px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
#popupWrapper #popup #previewPicUpload:hover {
  filter: brightness(0.4);
  box-shadow: 0px 0px 30px #12121259;
}
#popupWrapper #popup #sectionSelection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1vw;
  width: 100%;
  padding: 10px 2vw 50px;
  box-sizing: border-box;
}
#popupWrapper #popup #sectionSelection section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 2vw;
  border-radius: 12px;
  max-width: 8vw;
  transition: all 200ms ease-in-out;
  box-shadow: 0 0 10px #12121230;
  cursor: pointer;
}
#popupWrapper #popup #sectionSelection section p {
  font-size: 1rem;
  word-wrap: break-word;
}
#popupWrapper #popup #sectionSelection section:hover {
  box-shadow: 0px 0px 20px #12121260;
  color: var(--mainLight);
  background-color: var(--mainColor2);
}
#popupWrapper #popup #buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  border-radius: 24px;
}
#popupWrapper #popup #buttons p {
  font-family: "Oswald";
  width: 100%;
  font-size: 1.2rem;
  border: none;
  padding: 20px 0;
  color: var(--mainLight);
  margin: 0;
  cursor: pointer;
}
#popupWrapper #popup #buttons p:nth-child(1) {
  border-radius: 0 0 0 24px;
  background-color: #a3a5c5;
}
#popupWrapper #popup #buttons p:nth-child(2) {
  border-radius: 0 0 24px 0;
  background-color: #cc4040;
}
#popupWrapper #popup #buttons .green {
  background-color: #098334 !important;
}
#loader {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--mainLight);
  background: linear-gradient(var(--mainColor1), var(--mainColor2));
}
#loader #loadWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: rotate 1s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#loader * {
  font-size: 8rem;
}
#hideContent {
  position: fixed;
  z-index: 96;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--mainLight);
  background: linear-gradient(var(--mainColor1), var(--mainColor2));
  padding: 0 10vw;
  box-sizing: border-box;
  text-align: center;
}
#hideContent p,
#hideContent a {
  font-size: 2rem;
}
#hideContent a {
  color: var(--mainDark);
  text-decoration: none;
  padding: 20px 6vw;
  border-radius: 24px;
  background-color: var(--mainLight);
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#hideContent * {
  font-size: 8rem;
}
.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}
.Neobrutalism {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0 0 0;
  font-size: 0.8vw;
}
.Neobrutalism #contentWrapper::-webkit-scrollbar {
  display: none;
}
.Neobrutalism #contentWrapper {
  box-shadow: 0 0 2vw #12121280;
  border-radius: 24px;
  width: 70%;
  height: 80vh;
  overflow-y: scroll;
  background-color: var(--nbMainLight);
  scroll-behavior: smooth;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  font-family: "Oswald";
}
.Neobrutalism #contentWrapper nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: 200px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16%;
  box-sizing: border-box;
}
.Neobrutalism #contentWrapper nav > * {
  gap: 2%;
  font-family: "Oswald";
}
.Neobrutalism #contentWrapper nav > * > * {
  max-height: 100px;
}
.Neobrutalism #contentWrapper nav #logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2%;
}
.Neobrutalism #contentWrapper nav #logo a {
  font-size: 1.6em;
  font-weight: 900;
}
.Neobrutalism #contentWrapper nav #logo img {
  max-width: 40%;
  transition: all 200ms ease-in-out;
}
.Neobrutalism #contentWrapper nav #logo img:hover {
  filter: saturate(3);
}
.Neobrutalism #contentWrapper nav #links {
  width: 40%;
  display: flex;
  flex-direction: row;
  gap: 4%;
}
.Neobrutalism #contentWrapper nav #links a {
  text-decoration: none;
  color: var(--nbMainDark);
  font-size: 1.2em;
  text-align: center;
}
.Neobrutalism #contentWrapper nav button {
  font-size: 1.2rem;
  border: none;
  background-color: var(--nbColor2);
  color: var(--nbMainLight);
  padding: 10px 4%;
  cursor: pointer;
  box-shadow: 0.4vw 0.4vw 0 var(--nbMainDark);
  transition: all 200ms ease-in-out;
}
.Neobrutalism #contentWrapper nav button:hover {
  filter: saturate(2);
  box-shadow: 0.6vw 0.6vw 0 var(--nbMainDark);
}
.Neobrutalism #contentWrapper main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0vw 50px 0vw;
}
.Neobrutalism #contentWrapper main section {
  width: 100%;
  box-sizing: border-box;
  padding: 0px 16%;
}
.Neobrutalism #contentWrapper main section:nth-child(2n) {
  background-color: var(--nbColor1);
  color: var(--nbMainLight);
}
.Neobrutalism #contentWrapper main #hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
  margin: 0 0 20px 0;
}
.Neobrutalism #contentWrapper main #hero h1 {
  font-size: 4rem;
  background: #11111100;
  position: relative;
  line-height: 1;
  margin: 50px 0;
}
.Neobrutalism #contentWrapper main #hero h2,
.Neobrutalism #contentWrapper main #hero h3 {
  font-weight: 200;
}
.Neobrutalism #contentWrapper main #hero form {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-shadow: 0.4vw 0.4vw 0 var(--nbMainDark);
  margin: 30px 0;
}
.Neobrutalism #contentWrapper main #hero form input {
  border: 2px solid var(--nbMainDark);
  padding: 10px 2vw;
  font-size: 1rem;
  font-family: "Oswald";
  color: #12121280;
  border-radius: 0;
}
.Neobrutalism #contentWrapper main #hero form button {
  background-color: var(--nbColor3);
  padding: 10px 2vw;
  font-size: 1rem;
  color: var(--nbMainLight);
  font-family: "Oswald";
  border-top: 2px solid var(--nbMainDark);
  border-bottom: 2px solid var(--nbMainDark);
  border-right: 2px solid var(--nbMainDark);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.Neobrutalism #contentWrapper main #hero form button:hover {
  filter: saturate(2);
}
.Neobrutalism #contentWrapper main #hero img {
  margin-top: 50px;
  width: 46%;
  border-radius: 25px;
  margin-right: -6vw;
}
.Neobrutalism #contentWrapper main #partners {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: center;
  position: relative;
}
.Neobrutalism #contentWrapper main #partners h2 {
  font-size: 3rem;
  color: var(--nbMainLight);
  align-self: center;
}
.Neobrutalism #contentWrapper main #partners #arrowHint,
.Neobrutalism #contentWrapper main #partners #arrowHintRight {
  position: absolute;
  font-size: 4rem;
}
.Neobrutalism #contentWrapper main #partners #arrowHint {
  right: 2vw;
  top: 240px;
}
.Neobrutalism #contentWrapper main #partners #arrowHintRight {
  left: 2vw;
  top: 240px;
}
.Neobrutalism #contentWrapper main #partners #articles {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8vh 0vw;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.Neobrutalism #contentWrapper main #partners #articles article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 14%;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  margin: 0 8%;
}
.Neobrutalism #contentWrapper main #partners #articles article img {
  background-color: var(--nbMainLight);
  padding: 1vw;
  box-shadow: 1vw 1vw 0 var(--nbMainDark);
  width: 100%;
  transition: all 200ms ease-in-out;
}
.Neobrutalism #contentWrapper main #partners #articles article p {
  text-align: center;
  font-size: 1.4rem;
  color: var(--nbMainDark);
  background-color: var(--nbMainLight);
  padding: 1vw;
  box-shadow: 1vw 1vw 0 var(--nbMainDark);
  transition: all 200ms ease-in-out;
  width: 100%;
}
.Neobrutalism #contentWrapper main #partners #articles article:nth-child(1) {
  margin-left: 10%;
}
.Neobrutalism #contentWrapper main #partners #articles article:hover > img,
.Neobrutalism #contentWrapper main #partners #articles article:hover > p {
  box-shadow: 1.6vw 2vw 0 var(--nbMainDark);
}
.Neobrutalism #contentWrapper main #partners #articles article:hover {
  margin-top: -20px;
}
.Neobrutalism #contentWrapper main #partners #articles::-webkit-scrollbar {
  display: none;
}
.Neobrutalism #contentWrapper main #about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px 16%;
  box-sizing: border-box;
  gap: 6%;
}
.Neobrutalism #contentWrapper main #about img {
  width: 46%;
  transition: all 200ms ease-in-out;
}
.Neobrutalism #contentWrapper main #about img:hover {
  filter: saturate(2);
}
.Neobrutalism #contentWrapper main #about div {
  text-align: right;
  width: 42%;
}
.Neobrutalism #contentWrapper main #about div h2 {
  font-size: 3.4rem;
}
.Neobrutalism #contentWrapper main #about div p {
  font-size: 1.2rem;
}
.Neobrutalism #contentWrapper main #testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Neobrutalism #contentWrapper main #testimonials article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  gap: 10%;
  width: 100%;
}
.Neobrutalism #contentWrapper main #testimonials article img {
  width: 100%;
  box-shadow: 1vw 1vw 0 var(--nbMainDark);
  background-color: var(--nbMainLight);
  transition: all 200ms ease-in-out;
}
.Neobrutalism #contentWrapper main #testimonials article img:hover,
.Neobrutalism #contentWrapper main #testimonials article .review:hover {
  box-shadow: 1.4vw 1.4vw 0 var(--nbMainDark);
  filter: saturate(2);
}
.Neobrutalism #contentWrapper main #testimonials article img:hover {
  margin-top: -14px;
}
.Neobrutalism #contentWrapper main #testimonials article .review {
  max-width: 60%;
  background-color: var(--nbMainLight);
  color: var(--nbMainDark);
  padding: 4%;
  box-shadow: 1vw 1vw 0 var(--nbMainDark);
  font-size: 1.4rem;
  text-align: right;
  transition: all 200ms ease-in-out;
}
.Neobrutalism #contentWrapper main #testimonials article .review .starsReview {
  font-size: 2rem;
  color: var(--nbColor3);
}
.Neobrutalism #contentWrapper main #contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6vw;
  padding: 80px 16%;
}
.Neobrutalism #contentWrapper main #contact h2 {
  width: 40%;
  font-size: 3.2rem;
}
.Neobrutalism #contentWrapper main #contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 40%;
  box-sizing: border-box;
}
.Neobrutalism #contentWrapper main #contact form #names {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
  width: 100%;
  box-sizing: border-box;
}
.Neobrutalism #contentWrapper main #contact form input,
.Neobrutalism #contentWrapper main #contact form textarea {
  box-sizing: border-box;
  border: none;
  padding: 10px 1vw;
  font-family: "Oswald";
  background-color: var(--nbColor2);
  color: var(--mainLight);
  box-shadow: 0.4vw 0.4vw 0 var(--nbMainDark);
  width: 100%;
  opacity: 0.9;
  font-size: 1.2rem;
  transition: background-color 200ms ease-in-out;
}
.Neobrutalism #contentWrapper main #contact form textarea {
  min-width: 100%;
  max-width: 100%;
}
.Neobrutalism #contentWrapper main #contact form input::placeholder,
.Neobrutalism #contentWrapper main #contact form textarea::placeholder {
  transition: all 200ms ease-in-out;
  color: var(--mainLight);
}
.Neobrutalism #contentWrapper main #contact form input:hover,
.Neobrutalism #contentWrapper main #contact form textarea:hover {
  background-color: var(--nbMainLight);
}
.Neobrutalism #contentWrapper main #contact form input:hover::placeholder,
.Neobrutalism #contentWrapper main #contact form textarea:hover::placeholder,
.Neobrutalism #contentWrapper main #contact form input:hover,
.Neobrutalism #contentWrapper main #contact form textarea:hover {
  color: var(--nbMainDark);
}
.Neobrutalism #contentWrapper main #contact form #message {
  min-height: 100px;
}
.Neobrutalism #contentWrapper main #contact form button {
  background-color: var(--nbColor3);
  color: var(--nbMainLight);
  font-family: "Oswald";
  border: none;
  font-size: 1.6rem;
  padding: 10px 1vw;
  box-shadow: 0.4vw 0.4vw 0 var(--nbMainDark);
  width: 100%;
  cursor: pointer;
}
.Neobrutalism #contentWrapper footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 80px 16%;
  background-color: var(--nbColor1);
  color: var(--nbMainLight);
}
.Neobrutalism #contentWrapper footer a {
  font-size: 1.6rem;
}
.Neobrutalism #contentWrapper footer #socialLinks {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 2vw;
  font-size: 2rem;
}
.simple,
.skeletal {
  background: linear-gradient(var(--color1), var(--color2));
  width: 100vw;
  min-height: fit-content;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--colorDark);
  display: flex;
  flex-direction: column;
}
.simple > *,
.skeletal > * {
  min-height: 150px;
}
.simple img,
.skeletal img {
  border-radius: 16px;
  width: 100%;
}
.txtOnly {
  display: flex;
  padding: 40px 10%;
  align-items: center;
  justify-content: center;
}
.txtOnly p {
  width: fit-content !important;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 10px 1vw;
  caret-color: #000000;
}
.imgOnly {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgOnly .imgWrapper {
  width: 100% !important;
}
.imgOnly img {
  width: 100% !important;
  border-radius: 0;
  height: auto;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 2vw;
  box-sizing: border-box;
  width: 100%;
}
.nav #navLogo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  text-decoration: none;
  gap: 1vw;
  padding: 0px 2vw;
}
.nav #navLogo img {
  height: 100%;
  width: auto;
}
.nav #navLogo p {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--colorDark);
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.footer p {
  text-align: center;
}
.imgAndTxt {
  display: flex;
  padding: 20px 10%;
  align-items: center;
  justify-content: space-between;
  gap: 2vw;
}
.imgAndTxt p {
  font-size: 1.2rem;
  cursor: pointer;
  padding: 10px 1vw;
  caret-color: #000000;
}
.directHorizontal {
  flex-direction: row;
}
.directHorizontal > * {
  width: 50% !important;
}
.directHorizontal p {
  width: 40%;
}
.reverseHorizontal {
  flex-direction: row-reverse;
}
.reverseHorizontal > * {
  width: 50% !important;
}
.reverseHorizontal p {
  width: 40%;
}
.directVertical {
  flex-direction: column;
  gap: 50px;
  text-align: center;
}
.directVertical img {
  width: 100%;
}
.reverseVertical {
  flex-direction: column-reverse;
  gap: 20px;
  text-align: center;
}
.reverseVertical img {
  width: 100%;
}
.Web3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0 0 0;
  font-size: 0.8vw;
}
.Web3 .noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.Web3 .noSelect:focus {
  outline: none !important;
}
.Web3 #contentWrapper::-webkit-scrollbar {
  display: none;
}
.Web3 #contentWrapper {
  box-shadow: 0 0 2vw #12121280;
  border-radius: 24px;
  width: 70%;
  height: 80vh;
  overflow-y: scroll;
  background-color: var(--wb3MainDark);
  color: var(--wb3MainLight);
  scroll-behavior: smooth;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  z-index: 3;
}
.Web3 #contentWrapper nav {
  z-index: 2;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: 200px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16%;
  box-sizing: border-box;
}
.Web3 #contentWrapper nav > * {
  gap: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Web3 #contentWrapper nav > * > * {
  max-height: 100px;
}
.Web3 #contentWrapper nav #logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2%;
}
.Web3 #contentWrapper nav #logo a {
  font-size: 1.6em;
  font-weight: 900;
}
.Web3 #contentWrapper nav #logo img {
  max-width: 40%;
  transition: all 200ms ease-in-out;
}
.Web3 #contentWrapper nav #logo img:hover {
  filter: saturate(3);
}
.Web3 #contentWrapper nav #links {
  width: 40%;
  display: flex;
  flex-direction: row;
  gap: 4%;
}
.Web3 #contentWrapper nav #links a {
  text-decoration: none;
  color: var(--wb3MainLight);
  font-size: 1.2em;
  text-align: center;
}
.Web3 #contentWrapper nav button {
  font-size: 1.2rem;
  border: none;
  background-color: var(--wb3Color2);
  color: var(--nbMainLight);
  padding: 10px 4%;
  cursor: pointer;
  box-shadow: 0.4vw 0.4vw 0 var(--nbMainDark);
  transition: all 200ms ease-in-out;
}
.Web3 #contentWrapper nav button:hover {
  filter: saturate(2);
  box-shadow: 0.6vw 0.6vw 0 var(--nbMainDark);
}
.Web3 #contentWrapper main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0vw 50px 0vw;
}
.Web3 #contentWrapper main section {
  width: 100%;
  box-sizing: border-box;
  padding: 0px 16%;
  background: radial-gradient(circle, var(--wb3MainDark) 45%, var(--wb3Color2) 100%);
}
.Web3 #contentWrapper main section:nth-child(2n) {
  background-color: var(--wb3Color1);
  color: var(--nbMainLight);
}
.Web3 #contentWrapper main #hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
  margin: 0 0 20px 0;
}
.Web3 #contentWrapper main #hero h1 {
  font-size: 4rem;
  position: relative;
  line-height: 1;
  margin: 50px 0;
  filter: drop-shadow(0 0 4rem var(--wb3Color1));
}
.Web3 #contentWrapper main #hero h2,
.Web3 #contentWrapper main #hero h3 {
  font-weight: 200;
}
.Web3 #contentWrapper main #hero form {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-shadow: 0.4vw 0.4vw 0 var(--wb3MainDark);
  margin: 30px 0;
}
.Web3 #contentWrapper main #hero form input {
  border: 2px solid var(--wb3MainDark);
  padding: 10px 2vw;
  font-size: 1rem;
  font-family: "Oswald";
  color: #12121280;
  border-radius: 0;
}
.Web3 #contentWrapper main #hero form button {
  background-color: var(--wb3Color3);
  padding: 10px 2vw;
  font-size: 1rem;
  color: var(--wb3MainLight);
  font-family: "Oswald";
  border-top: 2px solid var(--wb3MainDark);
  border-bottom: 2px solid var(--wb3MainDark);
  border-right: 2px solid var(--wb3MainDark);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.Web3 #contentWrapper main #hero form button:hover {
  filter: saturate(2);
}
.Web3 #contentWrapper main #hero img {
  margin-top: 50px;
  width: 46%;
  border-radius: 25px;
  margin-right: -6vw;
  filter: drop-shadow(0 0 4rem var(--wb3Color1));
}
.Web3 #contentWrapper main #partners {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: center;
  position: relative;
}
.Web3 #contentWrapper main #partners h2 {
  font-size: 3rem;
  color: var(--wb3MainLight);
  align-self: center;
}
.Web3 #contentWrapper main #partners #arrowHint,
.Web3 #contentWrapper main #partners #arrowHintRight {
  position: absolute;
  font-size: 4rem;
}
.Web3 #contentWrapper main #partners #arrowHint {
  right: 2vw;
  top: 240px;
}
.Web3 #contentWrapper main #partners #arrowHintRight {
  left: 2vw;
  top: 240px;
}
.Web3 #contentWrapper main #partners #articles {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8vh 0vw;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.Web3 #contentWrapper main #partners #articles article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 14%;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  margin: 0 8%;
}
.Web3 #contentWrapper main #partners #articles article img {
  background-color: var(--wb3MainLight);
  padding: 1vw;
  box-shadow: 1vw 1vw 0 var(--wb3MainDark);
  width: 100%;
  transition: all 200ms ease-in-out;
}
.Web3 #contentWrapper main #partners #articles article p {
  text-align: center;
  font-size: 1.4rem;
  color: var(--wb3MainDark);
  background-color: var(--wb3MainLight);
  padding: 1vw;
  box-shadow: 1vw 1vw 0 var(--wb3MainDark);
  transition: all 200ms ease-in-out;
  width: 100%;
}
.Web3 #contentWrapper main #partners #articles article:nth-child(1) {
  margin-left: 10%;
}
.Web3 #contentWrapper main #partners #articles article:hover > img,
.Web3 #contentWrapper main #partners #articles article:hover > p {
  box-shadow: 1.6vw 2vw 0 var(--wb3MainDark);
}
.Web3 #contentWrapper main #partners #articles article:hover {
  margin-top: -20px;
}
.Web3 #contentWrapper main #partners #articles::-webkit-scrollbar {
  display: none;
}
.Web3 #contentWrapper main #about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px 16%;
  box-sizing: border-box;
  gap: 6%;
}
.Web3 #contentWrapper main #about img {
  width: 46%;
  transition: all 200ms ease-in-out;
}
.Web3 #contentWrapper main #about img:hover {
  filter: saturate(2);
}
.Web3 #contentWrapper main #about div {
  text-align: right;
  width: 42%;
}
.Web3 #contentWrapper main #about div h2 {
  font-size: 3.4rem;
}
.Web3 #contentWrapper main #about div p {
  font-size: 1.2rem;
}
.Web3 #contentWrapper main #testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Web3 #contentWrapper main #testimonials article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  gap: 10%;
  width: 100%;
}
.Web3 #contentWrapper main #testimonials article img {
  width: 100%;
  box-shadow: 1vw 1vw 0 var(--wb3MainDark);
  background-color: var(--wb3MainLight);
  transition: all 200ms ease-in-out;
}
.Web3 #contentWrapper main #testimonials article img:hover,
.Web3 #contentWrapper main #testimonials article .review:hover {
  box-shadow: 1.4vw 1.4vw 0 var(--wb3MainDark);
  filter: saturate(2);
}
.Web3 #contentWrapper main #testimonials article img:hover {
  margin-top: -14px;
}
.Web3 #contentWrapper main #testimonials article .review {
  max-width: 60%;
  background-color: var(--wb3MainLight);
  color: var(--wb3MainDark);
  padding: 4%;
  box-shadow: 1vw 1vw 0 var(--wb3MainDark);
  font-size: 1.4rem;
  text-align: right;
  transition: all 200ms ease-in-out;
}
.Web3 #contentWrapper main #testimonials article .review .starsReview {
  font-size: 2rem;
  color: var(--wb3Color3);
}
.Web3 #contentWrapper main #contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6vw;
  padding: 80px 16%;
}
.Web3 #contentWrapper main #contact h2 {
  width: 40%;
  font-size: 3.2rem;
}
.Web3 #contentWrapper main #contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 40%;
  box-sizing: border-box;
}
.Web3 #contentWrapper main #contact form #names {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
  width: 100%;
  box-sizing: border-box;
}
.Web3 #contentWrapper main #contact form input,
.Web3 #contentWrapper main #contact form textarea {
  box-sizing: border-box;
  border: none;
  padding: 10px 1vw;
  font-family: "Oswald";
  background-color: var(--wb3Color2);
  color: var(--wb3MainLight);
  box-shadow: 0.4vw 0.4vw 0 var(--wb3MainDark);
  width: 100%;
  opacity: 0.9;
  font-size: 1.2rem;
  transition: background-color 200ms ease-in-out;
}
.Web3 #contentWrapper main #contact form textarea {
  min-width: 100%;
  max-width: 100%;
}
.Web3 #contentWrapper main #contact form input::placeholder,
.Web3 #contentWrapper main #contact form textarea::placeholder {
  transition: all 200ms ease-in-out;
  color: var(--wb3MainLight);
}
.Web3 #contentWrapper main #contact form input:hover,
.Web3 #contentWrapper main #contact form textarea:hover {
  background-color: var(--wb3MainLight);
}
.Web3 #contentWrapper main #contact form input:hover::placeholder,
.Web3 #contentWrapper main #contact form textarea:hover::placeholder,
.Web3 #contentWrapper main #contact form input:hover,
.Web3 #contentWrapper main #contact form textarea:hover {
  color: var(--wb3MainDark);
}
.Web3 #contentWrapper main #contact form #message {
  min-height: 100px;
}
.Web3 #contentWrapper main #contact form button {
  background-color: var(--wb3Color3);
  color: var(--wb3MainLight);
  font-family: "Oswald";
  border: none;
  font-size: 1.6rem;
  padding: 10px 1vw;
  box-shadow: 0.4vw 0.4vw 0 var(--wb3MainDark);
  width: 100%;
  cursor: pointer;
}
.Web3 #contentWrapper footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 80px 16%;
  background-color: var(--wb3Color1);
  color: var(--wb3MainDark);
}
.Web3 #contentWrapper footer a {
  font-size: 1.6rem;
}
.Web3 #contentWrapper footer #socialLinks {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 2vw;
  font-size: 2rem;
}
@media screen and (max-width: 650px) {
  .About,
  .Blog {
    width: 100vw;
  }
  #WIP img {
    width: 80%;
  }
  #MainNav {
    justify-content: center;
  }
  #MainNav #logo img {
    max-height: 60px;
  }
  #MainNav #logo p {
    display: none;
  }
  #MainNav > *:nth-child(2) {
    display: none;
  }
  #MainNav #mobileMenu {
    display: flex;
  }
  #mainPage {
    width: 100vw;
  }
  #mainPage main #hero {
    padding: 160px 0vw 100px 0vw;
    flex-direction: column;
    gap: 40px;
    width: 90vw;
    justify-content: center;
    align-items: center;
  }
  #mainPage main #hero #heroTxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #mainPage main #hero #heroTxt h1 {
    font-size: 3rem;
  }
  #mainPage main #hero #heroTxt * {
    margin: 20px;
  }
  #mainPage main #hero #heroTxt a {
    padding: 20px 10vw;
    margin: 30px 0 0 0;
  }
  #mainPage main #hero #exampleSites {
    width: 80%;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #mainPage main #hero #exampleSites img {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #mainPage main #hero #exampleSites > *:nth-child(1) {
    animation: moveSites 4s infinite;
  }
  #mainPage main #hero #exampleSites > *:nth-child(2) {
    animation: moveSites 4s infinite 1s;
  }
  #mainPage main #hero #exampleSites > *:nth-child(3) {
    animation: moveSites 4s infinite 2s;
  }
  #mainPage main #partners {
    font-size: 1rem;
    padding: 40px 0;
    justify-content: center;
    flex-direction: column;
  }
  #mainPage main #partners img {
    width: 48vw;
  }
  #mainPage main #partners div {
    width: 0vw;
    height: 10px;
    background-color: var(--mainLight);
  }
  #mainPage footer {
    flex-direction: column-reverse;
    font-size: 1.2rem;
  }
  #mainPage footer #socialLinks {
    gap: 10vw;
  }
  #templatesWrapper #templates {
    grid-template-columns: 1fr;
  }
  #dashnav a:nth-child(1) p {
    display: none;
  }
  #dashnav #rightPane {
    display: none;
  }
  #dashnav #rightPane > *:not(#profileMenu) {
    display: none;
  }
  #dashnav #rightPane #profileMenu {
    display: flex;
  }
  #dashnav #mobileMenu {
    display: flex;
  }
  #dash #websites {
    gap: 60px;
  }
  #dash #websites > a {
    background-color: #10101080;
    grid-template-columns: 1fr;
    padding: 0;
    text-decoration: none;
    text-align: center;
  }
  #dash #websites > a .imgWrapper {
    width: 100%;
    height: fit-content;
    max-height: 360px;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #dash #websites > a .imgWrapper img {
    border-radius: 0;
    height: auto;
    width: 100%;
  }
  #dash #websites > a * {
    justify-self: center;
    align-self: center;
  }
  #dash #websites > a a,
  #dash #websites > a p,
  #dash #websites > a h2 {
    padding: 0 6vw;
  }
  #dash #websites > a > *:last-child {
    text-decoration: underline;
    padding: 16px 0;
  }
  #dash #websites > a .publishedCheck {
    position: relative;
    text-decoration: none;
    margin: 0;
    padding: 10px 0 10px 0;
    background-color: #108c3f;
    border-radius: 0 0 15px 15px;
    width: 100%;
    bottom: auto;
    right: auto;
    font-size: 1rem;
    font-weight: 1000;
    margin-top: 40px;
  }
  #dash #websites > a .publishedCheck.notPublished {
    background-color: #00000075;
  }
  #dashfooter {
    justify-content: center;
  }
  #popupWrapper {
    transition: all 400ms ease-in-out;
  }
  #popupWrapper #popup {
    width: 100%;
    box-sizing: border-box;
    max-width: 90%;
  }
  #popupWrapper #popup #previewPicUpload {
    width: fit-content;
    background-color: var(--mainLight);
    border-radius: 10px;
    height: auto;
    max-height: fit-content;
    min-width: 30vh;
    max-width: 100%;
    box-shadow: 0px 0px 20px #12121229;
    margin: 40px 0;
  }
  #popupWrapper #popup #sectionSelection {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2vw;
    justify-content: center;
    align-items: center;
  }
  #popupWrapper #popup #sectionSelection section {
    max-width: 100%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  #accountWrapper #accountSection {
    width: 90%;
  }
  #accountWrapper #accountSection #profilePicWrapper {
    max-width: 70%;
  }
  .simple,
  .skeletal {
    overflow-x: hidden;
  }
  .nav p {
    display: none;
  }
  .imgAndTxt {
    flex-direction: column-reverse;
    padding-left: 0;
    padding-right: 0;
  }
  .imgAndTxt img,
  .imgAndTxt p {
    width: 100% !important;
  }
  .imgAndTxt p {
    text-align: center;
  }
  .imgAndTxt img {
    border-radius: 0;
  }
}
@media screen and (max-width: 900px) and (min-width: 649px) {
  #templatesWrapper #templates {
    grid-template-columns: 1fr 1fr;
  }
}
