@font-face {
    font-family: 'Oswald';
    src: url('./fonts/Oswald-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto';
    src: url('./fonts/NotoSans-ExtraLight.ttf') format('truetype');
}

#dashnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    box-shadow: 0 0 20px #12121260;
    // background-color: #ededed;
    background-color: #316273;
    padding: 0 6vw;
    font-family: 'Oswald';
    & img {
        max-height: 60px;
        border-radius: 22px;
        box-shadow: 10px 10px 10px #12121290, -10px -10px 10px #ffffff19;
        filter: contrast(1.6) saturate(2);
    }
    & div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2vw;
    }
    a {
        color: #fff;
    }
}

#dash {
    padding: 40px 6vw;
    font-family: 'Noto';
    background-color: #316273;
    color: #fff;
    a {
        color: #fff;
    }
    h1, h2 {
        font-family: 'Oswald';
    }
    #websites {
        display: flex;
        flex-direction: column;
        gap: 20px;
        min-height: 80vh;
        article {
            display: grid;
            grid-template-columns: 6% 20% 30% 30%;
            grid-template-rows: 1fr;
            align-items: center;
            justify-content: space-between;
            border-radius: 15px;
            padding: 20px 2vw;
            // border: 2px solid #ffffff;
            box-shadow: 10px 10px 10px #12121230, -10px -10px 10px #ffffff09;
            transition: all 200ms ease-in-out;
            & > *:nth-child(1) {
                font-size: 2rem;
            } 
            img {
                // height: 100%;
                max-width: 100%;
                border-radius: 4px;
                // box-shadow: 10px 10px 10px #12121290, -10px -10px 10px #ffffff09;
            }
            a {
                color: #fff;
                justify-self: left;
            }
        }
        article:hover {
            // backdrop-filter: brightness(1.6);
            background-color: #3994AC;
        }
        & *:last-child {
            // background-color: #fff;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            width: 100%;
        }
    }
}

#templatesWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Noto';
    background-color: #316273;
    color: #fff;
    padding: 80px 10vw;
    font-family: 'Oswald';

    #templates {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 500px 500px 500px;
        row-gap: 60px;
        column-gap: 6vw;
        article {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius: 15px;
            padding: 20px 2vw;
            box-shadow: 10px 10px 10px #12121230, -10px -10px 10px #ffffff09;
            transition: all 200ms ease-in-out;
        }
        article:hover {
            background-color: #3994AC;
        }
    }
}

#dashfooter {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    box-shadow: 0 0 20px #12121260;
    // background-color: #ededed;
    background-color: #316273;
    padding: 0 6vw;
    font-family: 'Oswald';
    & img {
        max-height: 60px;
        border-radius: 22px;
        box-shadow: 10px 10px 10px #12121290, -10px -10px 10px #ffffff19;
        filter: contrast(1.6) saturate(2);
    }
    & div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2vw;
    }
    a {
        color: #fff;
    }
}