:root {
  --nbMainLight: #faf9f9;
  --nbMainDark: #121212;
  --nbColor1: #41528B;
  --nbColor2: #29396A;
  --nbColor3: #9C3131;
}
@font-face {
  font-family: 'Oswald';
  src: url('fonts/Oswald-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto';
  src: url('fonts/NotoSans-ExtraLight.ttf') format('truetype');
}
#dashnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  box-shadow: 0 0 20px #12121260;
  background-color: #316273;
  padding: 0 6vw;
  font-family: 'Oswald';
}
#dashnav img {
  height: 60px;
  border-radius: 50%;
  box-shadow: 10px 10px 10px #12121290, -10px -10px 10px #ffffff19;
  filter: contrast(1.6) saturate(2);
}
#dashnav > div,
#dashnav > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}
#dashnav a {
  color: #fff;
}
#dash {
  padding: 40px 6vw;
  font-family: 'Noto';
  background-color: #316273;
  color: #fff;
}
#dash a {
  color: #fff;
}
#dash h1,
#dash h2 {
  font-family: 'Oswald';
}
#dash #websites {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 80vh;
}
#dash #websites article {
  display: grid;
  grid-template-columns: 6% 20% 30% 30%;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  padding: 20px 2vw;
  box-shadow: 10px 10px 10px #12121230, -10px -10px 10px #ffffff09;
  transition: all 200ms ease-in-out;
}
#dash #websites article > *:nth-child(1) {
  font-size: 2rem;
}
#dash #websites article img {
  max-width: 100%;
  border-radius: 4px;
}
#dash #websites article a {
  color: #fff;
  justify-self: left;
}
#dash #websites article:hover {
  background-color: #3994AC;
}
#dash #websites *:last-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
}
#templatesWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Noto';
  background-color: #316273;
  color: #fff;
  padding: 80px 10vw;
  font-family: 'Oswald';
}
#templatesWrapper #templates {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 500px 500px 500px;
  row-gap: 60px;
  column-gap: 6vw;
}
#templatesWrapper #templates article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  padding: 20px 2vw;
  box-shadow: 10px 10px 10px #12121230, -10px -10px 10px #ffffff09;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
#templatesWrapper #templates article a {
  text-decoration: none;
  color: #fff;
}
#templatesWrapper #templates article:hover {
  background-color: #3994AC;
}
#dashfooter {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  box-shadow: 0 0 20px #12121260;
  background-color: #316273;
  padding: 0 6vw;
  font-family: 'Oswald';
}
#dashfooter img {
  height: 60px;
  border-radius: 50%;
  box-shadow: 10px 10px 10px #12121290, -10px -10px 10px #ffffff19;
  filter: contrast(1.6) saturate(2);
}
#dashfooter div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}
#dashfooter a {
  color: #fff;
}
.Neobrutalism {
  background-color: var(--nbMainLight);
}
.Neobrutalism #contentWrapper {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  font-family: 'Oswald';
}
.Neobrutalism #contentWrapper nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: 200px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16vw;
  box-sizing: border-box;
}
.Neobrutalism #contentWrapper nav > * {
  gap: 2vw;
  font-family: 'Oswald';
}
.Neobrutalism #contentWrapper nav > * > * {
  max-height: 100px;
}
.Neobrutalism #contentWrapper nav #logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}
.Neobrutalism #contentWrapper nav #logo a {
  font-size: 1.8rem;
  font-weight: 900;
}
.Neobrutalism #contentWrapper nav #logo img {
  max-height: 100px;
  transition: all 200ms ease-in-out;
}
.Neobrutalism #contentWrapper nav #logo img:hover {
  filter: saturate(3);
}
.Neobrutalism #contentWrapper nav #links {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}
.Neobrutalism #contentWrapper nav #links a {
  text-decoration: none;
  color: var(--nbMainDark);
  font-size: 1.2rem;
}
.Neobrutalism #contentWrapper nav button {
  font-size: 1.2rem;
  border: none;
  background-color: var(--nbColor2);
  color: var(--nbMainLight);
  padding: 10px 2vw;
  cursor: pointer;
  box-shadow: 0.4vw 0.4vw 0 var(--nbMainDark);
  transition: all 200ms ease-in-out;
}
.Neobrutalism #contentWrapper nav button:hover {
  filter: saturate(2);
  box-shadow: 0.8vw 0.8vw 0 var(--nbMainDark);
}
.Neobrutalism #contentWrapper main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0vw 50px 0vw;
}
.Neobrutalism #contentWrapper main section {
  width: 100%;
  box-sizing: border-box;
  padding: 0 16vw;
}
.Neobrutalism #contentWrapper main #hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5vw;
  margin: 0 0 20px 0;
}
.Neobrutalism #contentWrapper main #hero h1 {
  font-size: 5rem;
  background: #11111100;
  position: relative;
  line-height: 1;
  margin: 50px 0;
}
.Neobrutalism #contentWrapper main #hero h2,
.Neobrutalism #contentWrapper main #hero h3 {
  font-weight: 200;
}
.Neobrutalism #contentWrapper main #hero form {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-shadow: 0.4vw 0.4vw 0 var(--nbMainDark);
  margin: 30px 0;
}
.Neobrutalism #contentWrapper main #hero form input {
  border: 2px solid var(--nbMainDark);
  padding: 10px 2vw;
  font-size: 1rem;
  font-family: 'Oswald';
  color: #12121280;
  border-radius: 0;
}
.Neobrutalism #contentWrapper main #hero form button {
  background-color: var(--nbColor3);
  padding: 10px 2vw;
  font-size: 1rem;
  color: var(--nbMainLight);
  font-family: 'Oswald';
  border-top: 2px solid var(--nbMainDark);
  border-bottom: 2px solid var(--nbMainDark);
  border-right: 2px solid var(--nbMainDark);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.Neobrutalism #contentWrapper main #hero form button:hover {
  filter: saturate(2);
}
.Neobrutalism #contentWrapper main #hero img {
  margin-top: 50px;
  width: 36vw;
  border-radius: 25px;
  margin-right: -6vw;
}
.Neobrutalism #contentWrapper main #partners {
  background-color: var(--nbColor1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 100px 0;
}
.Neobrutalism #contentWrapper main #partners article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10%;
  gap: 0vh;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.Neobrutalism #contentWrapper main #partners article img {
  background-color: var(--nbMainLight);
  padding: 1vw;
  box-shadow: 1vw 1vw 0 var(--nbMainDark);
  width: 100%;
  transition: all 200ms ease-in-out;
}
.Neobrutalism #contentWrapper main #partners article p {
  text-align: center;
  font-size: 1.4rem;
  background-color: var(--nbMainLight);
  padding: 1vw;
  box-shadow: 1vw 1vw 0 var(--nbMainDark);
  transition: all 200ms ease-in-out;
  width: 100%;
}
.Neobrutalism #contentWrapper main #partners article:hover > img,
.Neobrutalism #contentWrapper main #partners article:hover > p {
  box-shadow: 1.6vw 2vw 0 var(--nbMainDark);
}
.Neobrutalism #contentWrapper main #partners article:hover {
  margin-top: -20px;
}
.Neobrutalism #contentWrapper footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 80px 16vw;
  border-top: 2px solid var(--nbMainDark);
  background-color: var(--nbColor1);
  color: var(--nbMainLight);
}
.Neobrutalism #contentWrapper footer a {
  font-size: 1.6rem;
}
.Neobrutalism #contentWrapper footer #socialLinks {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 1vw;
  font-size: 2rem;
}
